


<div class="bg-dark" style=" height: 100vh;">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex flex-row-reverse bd-highlight">
     
        
    </nav>
  
    <div style="margin: auto;" class="d-flex align-items-center justify-content-center" style="background-image:url('https://mcdn.wallpapersafari.com/medium/23/77/DP60WY.jpeg');background-size: contain;background-repeat:no-repeat;width:100%;height:700px;">
      <div class="card text-white bg-dark" style=" width: 600px;">


          <div class="card-header d-flex justify-content-center">
            <h3>A Product Commuinty Website</h3>
          </div>
          <div class="card-body">
              
            <div class="d-flex align-items-center justify-content-center">
              <a routerLink="login" class="btn btn-primary me-md-2" type="button">Login/Register</a>
              
            
            </div>
            <div  class="d-flex justify-content-around mt-3">
              <h5>{{usersNo}} Users</h5>
              <h5>{{postNo}} Posts</h5>
            </div>
        
          </div>
      </div>
  </div>
  
  </div>
  